@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// media query manager
/*

0px - 600px       = phone only

600px  - 900px    = tablet portrait

900px  - 1200px   = tablet landscape

[1200px  - 1800px]  = Desktop normaly style apply 

1800px -  ∞ px    = Big Desktop 
/////////////////////////////////////////////////////// 

phone 

tab-small

tab-big 

big-desktop
*/
@mixin res($res) {
  @if $res == phone {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }
  @if $res == tab-small {
    @media only screen and (max-width: 56.25em) {
      //900PX
      @content;
    }
  }
  @if $res == tab-big {
    @media only screen and (max-width: 75em) {
      //1200px
      @content;
    }
  }
  @if $res == big-desktop {
    @media only screen and (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
