.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-Grey-light-1);
  box-shadow: 0 2rem 6rem rgba($color-black, 0.3);
  min-height: 50rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  background-color: $color-white;
  border-bottom: var(--line);
  font-size: 1.5rem;
}

.content {
  display: flex;
  justify-content: space-between;
}

.sidebar {
  flex: 0 0 20%;
  background-color: var(--color-Grey-dark-1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main {
  background-color: $color-white;
  flex: 1;
}

.detail {
  display: flex;
  background-color: var(--color-Grey-light-1);
  padding: 4.5rem;
  border-bottom: var(--line);
  font-size: 1.4rem;
}

.description {
  font-size: inherit;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  background-color: $color-white;
  box-shadow: var(--box-shadow-1);
  padding: 3rem;
}

.user-reviews {
  font-size: inherit;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
