@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");

// variabel css
:root {
  --color-primery: #e1275f;
  --color-secendery: #e75480;
  --color-text: #f7f7f769;
  --color-text-dark: #777;

  --color-Grey-light-1: #faf9f9;
  --color-Grey-light-2: #f4f2f2;
  --color-Grey-light-3: #f0eeee;
  --color-Grey-light-4: #ccc;

  --color-Grey-dark-1: #333;
  --color-Grey-dark-2: #777;
  --color-Grey-dark-3: #999;

  --line: 1px solid var(--color-Grey-light-2);

  --box-shadow-1: 0 2rem 4rem rgba(0, 0, 0, 0.05);
}

* {
  padding: 0;
  margin: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem === 10px

  @media only screen and (max-width: $br-1100px) {
    font-size: 50%;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.6;

  background-image: linear-gradient(
    to right bottom,
    var(--color-secendery),
    var(--color-primery)
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  color: var(--color-text-dark);
}

::selection {
  background-color: var(--color-secendery);
  color: $color-white;
}
